@import "tailwindcss";

@font-face {
  font-family: vazirLight;
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot');
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('FontName-opentype'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: vazir;
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Medium-FD.eot');
  src: url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Medium-FD.eot') format('FontName-opentype'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
    url('../font/vazir-font-v18.0.0/Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: vazirLight, Arial, Helvetica, sans-serif;
}

.dropdownMenu {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 60;
  min-width: 160px;
}