.dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(-50%, 10px);
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  top: 100%;
  background: white;
  padding: 10px 0;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
}

.dropdown a {
  padding: 10px 16px;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-50%, 0);
}

.centerMenu {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  animation: fadeIn 0.3s ease;
  min-width: 800px;
}

.centerMenu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.centerMenu a:hover {
  background-color: #f2f2f2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.spacer {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  width: 200px;
  z-index: 800;
  pointer-events: auto;
}